.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  overflow-y: auto;
  background: var(--blue-100);
  max-height: 80%;
  max-width: 600px;
  padding: 20px 2rem;
  margin: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  color: var(--blue-500);
  margin: 1rem 0 2rem;
}

.modal-content > p {
  text-align: justify;
  padding-bottom: 0.5rem;
  text-indent: 1.5rem;
}

.modal-content p {
  margin-bottom: 1.5rem;
  color: var(--gray-dark);
}

#final-step-modal h2,
#final-step-modal p {
  text-align: center;
}

.visible {
  display: flex;
}
